/node_modules
/public/hot
/public/storage
/public/css/**

/public/mix-manifest.json
/public/js/**
/public/build
/public/js/chunks
/public/js/app.js
/storage/*.key
/public/*.zip
/public/*.pdf
/storage/cfdis_develop/**
/storage/cfdis_production/**
/storage/signatures/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
