/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/css/app.css
/public/css/main.css
/public/build
/public/mix-manifest.json
/public/js/chunks
/public/js/app.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
