.texto-importante {
    color: rgba(var(--vs-danger), 1) !important;
    font-weight: 600;
}

.opacity-75 {
    opacity: 1 !important;
}

.vs-popup--header {
    padding: 10px 0 10px 0;
    background-color: rgba(var(--vs-primary), 1) !important;
    //background-color: transparent !important;
    border-radius: 0;

}

.vs-popup--title h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 600;
}

.con-vs-popup .vs-popup {
    border-radius: 0px;
}

.vs-button {
    border-radius: 0;
}

.con-vs-popup {
    z-index: 52000 !important;
}

.vs-dialog-primary .vs-dialog .vs-dialog-header {
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    background-color: rgba(var(--vs-primary), 1) !important;
}

.accion_nombre {
    color: rgba(var(--vs-primary), 1) !important;
}

.con-vs-dialog .vs-dialog {
    border-radius: 0 !important;
}


.usuarios .vs-popup {
    width: 100% !important;
}

/**medias queries para el popup de captura de datos */
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {

    .usuarios,
    .aet-popup {
        .vs-popup {
            width: 85% !important;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {

    .usuarios,
    .aet-popup {
        .vs-popup {
            width: 85% !important;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {

    .usuarios,
    .aet-popup {
        .vs-popup {
            width: 75% !important;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {

    .usuarios,
    .aet-popup {
        .vs-popup {
            width: 80% !important;
        }
    }
}


.vs-popup--background {
    background: rgba(0, 0, 0, .5);
}



[dir] .vs__dropdown-toggle {
    padding: 0 0 4px 0;
    background: none;
    border: 1px solid rgba(var(--vs-default_color), 1) !important;
    border-radius: 4px;
}

.vs-input--input {
    border-radius: 0px !important;
    border: 1px solid rgba(var(--vs-default_color), 1) !important;
}

[dir] .vdp-datepicker input {
    border-radius: 0px !important;
}

[dir] .vdp-datepicker .vdp-datepicker__calendar {
    border-radius: 0px !important;
}

[dir] .vs__dropdown-toggle {
    border-radius: 0px !important;
}

.con-vs-card {
    border-radius: 0px !important;
}

.vs-input--placeholder {
    color: rgba(0, 0, 0, .7);
}

.texto-informacion {
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(var(--vs-primary), 1) !important;
}



.vs-table--tbody-table tr {
    background-color: #E7EBF0;
    color: rgba(var(--vs-textos_theme), 1) !important;
}

.vs-table--thead tr {
    border-top: 1px solid rgba(var(--vs-primary), 1) !important;
    border-bottom: 1px solid rgba(var(--vs-primary), 1) !important;
    color: rgba(var(--vs-primary), 1) !important;
    background-color: #fff !important;
}


/*tarifas card*/
.card-tarifas .vs-card--header {
    background-color: rgba(var(--vs-primary), 1) !important;
}

.card-tarifas .vs-card--header h3 {
    color: #fff !important;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600 !important;
}

/*fin de tarifas card*/

/*password checker*/
.password-checker .password-checker .vs-dialog-cancel--icon {
    display: none;
}

.password-checker .vs-dialog-cancel-button {
    color: red !important;
}

/*fin password checker*/


/*ESTILOS DEL COMPONENTE DE VENTAS*/

.venta-details .propiedad_tipo {
    text-transform: capitalize !important;
}

/*FIN DE ESTILOS DEL COMPONENTE DE VENTAS*/

/*estislod del login*/
/*[dir] .layout--full-page .bg-img {
    background-image: url(/images/aeternus/login.jpg) !important;
    background-color: rgba(248, 247, 216, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.login-template .iniciar-sesion {
    font-size: 25px;
    line-height: 1.14286;
    font-family:
        Open Sans,
        sans-serif;
    font-weight: 500;
}


#login-informacion img {
    max-width: 340px !important;
}

#login-informacion .sistema-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500
}




/*fin de estilos del login*/

/* estilos de videos tutoriales*/
.tutorial {
    padding: 5px 20px;
    border: 1px solid rgba(var(--vs-primary), 1) !important;
    margin: 0 auto 0 auto;
    cursor: pointer;
}


/*fin de estilos de videos tutoriales*/

/* buttons*/


.vs-card--content {
    font-size: 1rem !important;
}


.firma-digital .con-input-upload {
    margin: 0 auto 0 auto !important;
    float: none !important;
}


.firma-digital .con-img-upload .img-upload {
    margin: 0 auto 0 auto !important;
    float: none !important;
}



/*fin de buttons*/
