/*aplica para todos las cajas de texto, selects, emails, passwords.*/
.input-cantidad input {
    min-width: 100px !important;
    text-align: center !important;
}
.input-text {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    & > label {
        padding: 0.25rem 0 0.25rem 0;
        @extend .size-small, .color-copy, .font-medium;
        text-transform: uppercase !important;
        span {
            @extend .color-danger-900;
        }
    }

    & > span {
        padding: 0.25rem 0 0.25rem 0;
        @extend .color-danger-900, .size-smaller;
    }

    .vs-input--placeholder {
        @extend .size-small, .color-dark-300, .font-light;
    }

    .vs__selected {
        @extend .size-base, .color-copy, .font-normal;
        text-transform: lowercase !important;
    }
}
