.forms-popup .vs-popup {
    border-radius: 0px !important;
}

.forms-popup .vs-popup--header {
    padding-top: 14px;
    margin-bottom: 28px !important;
    height: 3rem;
    border-radius: 0 !important;
    background-color: #fff !important;
}

.forms-popup .vs-popup--title {
    border-radius: 0px !important;
}

.forms-popup .vs-popup--title h3 {
    @extend .h5, .color-dark-700, .font-medium, .bg-dark-50;
    text-align: center !important;
    text-transform: uppercase !important;
}

.forms-popup .vs-popup--close {
    padding: 6.6px !important;
    margin-top: 16px !important;
    border-radius: 0px !important;
    margin-right: 15px !important;
    @extend .h1, .color-dark-900, .font-bold;
    background-color: #d2d2d2 !important;
}

.forms-popup .vs-popup--content {
    padding: 0 1.5rem 0 1.5rem !important;
}

/*textos forms*/
.form-group {
    position: relative !important;
    border: 1px solid #e6eaed !important;
    border-radius: 0.5rem;
    padding: 1.5rem;

    &:not(:first-child) {
        margin-top: 2rem;
    }
    &:first-child {
        margin-top: 0.5rem;
    }
}

.title-form-group {
    @extend .h5, .color-primary-900, .font-medium;
    position: relative !important;
    margin-top: -2.3rem !important;
    background-color: #fff !important;
    padding: 0 1rem 0 1rem !important;
    width: fit-content !important;
}

.form-group-content {
    position: relative !important;
    padding-top: 0.5rem;
}

.bottom-buttons-section {
    padding: 1.5rem;
    text-align: right;
    .text-advice {
        padding: 0 0 1rem 0;
        @extend .size-base, .color-copy;
        .ojo-advice {
            @extend .font-medium, .color-danger-900;
        }
    }
}

.popup-80 .vs-popup {
    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
        width: 100% !important;
    }

    @media (min-width: 1200px) {
        width: 80% !important;
    }
}

.popup-85 .vs-popup {
    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
        width: 95% !important;
    }

    @media (min-width: 1200px) {
        width: 85% !important;
    }
}

.popup-90 .vs-popup {
    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
        width: 95% !important;
    }

    @media (min-width: 1200px) {
        width: 90% !important;
    }
}

.popup-95 .vs-popup {
    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
    }

    @media (min-width: 1200px) {
        width: 95% !important;
    }
}

/*Fin textos forms*/
