.background-header-forms .vs-popup--content {
    max-height: 86vh !important;
}

.normal-forms .vs-popup--title {
    border-radius: 0px !important;
    padding: 0px !important;
}

.normal-forms .vs-popup--title h3 {
    text-align: center !important;
    width: 80% !important;
    text-transform: capitalize !important;
}

.normal-forms .vs-popup--close {
    padding: 8px !important;
    margin-right: 21px !important;
}

.normal-forms .vs-popup--content {
    max-height: 87vh !important;
}

.vs-popup--close {
    background-color: #cecece !important;
    font-size: 32px;
    border-radius: 0px !important;
    padding: 4px !important;
}
